/*--------------------------------
    color,font and variable setup
    ----------------------------*/

:root{
    --c-primary:#975af9;
    --c-secondary: #46a7f8;
    --c-background: #e6e6e6;
    --c-dark: #2d2d2d;
    --c-black: #000000;
    --font-base: "poppins",sans-serif;
}

body{
    font-family: var(--font-base);
    font-size: 16px;
    line-height: 1.6;
}

.h1 .h2 .h3 .h4 .h5 .h6 {
    font-weight: 600;
}

p{
    font-family: var(--font-base);
    font-size: 16px;
}

a{
    text-decoration: none;
    color: var(--c-primary);
}

a:hover {
    color: var(--c-secondary);
}

.section-padding {
    padding-top: 120px;
    padding-bottom: 120px;
}

img{
    max-width: 100%;
    height: auto;
}

/*--------------------------------
    Button css variable
    ----------------------------*/
.btn{
    font-weight: 600 !important;
}

.btn-light{
    background-color: var(--c-primary) !important;
    color: var(--c-background) !important;
    border-radius: 5px;
    
}

.btn-light:hover{
    background-color: var(--c-secondary) !important;
    color: var(--c-background) !important;
    border-radius: 5px;
    
}


.btn-success{
    background-color: var(--c-background) !important;
    color: var(--c-black) !important;
}

.button{
    background-color: var(--c-primary) !important;
}

/*--------------------------------
    Navbar css variable
    ----------------------------*/

.navbar{
    font-family: var(--font-base);
    font-size: 16px;
    font-weight: 600;
}

.navbar-dark{
    background-color: var(--c-black);
}
/*--------------------------------
    Hero css variable
    ----------------------------*/

#Hero{
    background: url("../img/home/Hero-img.jpg");
    height: 100vh;
    background-position: top;
    margin-top: -80px;
}

.hero-text{
    font-size: 100px;
    font-weight: 700;
}

/*--------------------------------
    About us css variable
    ----------------------------*/

.brand-title{
    font-size: 65px;
    font-size: 700;
    font-family: var(--font-base);
}

.brand-p{
    font-size: 25px;
    font-size: 400;
    font-family: var(--font-base);
}

.brand-title-light{
    font-size: 55px;
    font-size: 650;
    font-family: var(--font-base);
    color: var(--c-background);
}

.brand-p-2{
    font-size: 20px;
    font-family: var(--font-base);
}

/*--------------------------------
    icon box css variable
    ----------------------------*/

.icon-box{
    background: var(--c-background);
    color: var(--c-primary);
    width: 70px;
    height: 65px;
    align-items: center;
    text-align: center;
    font-size: 35px;
    flex: none;
}

.icon-footer{
    font-size: 35px;
}

